*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}
body{
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    height:100vh;
}
/*start of nav*/
/*Top nav*/ 

.top-nav i{
    font-size:18px;
    color:rgb(170, 169, 169);

}
.left-top{
    margin: auto;
    text-align: center;
}
.left-top .search{
    border:none;
    outline: none;
    color:rgb(170, 169, 169);
    color:black;
    padding-top:10px;
}


.middle-top{
    text-transform: uppercase;
    border:2px solid;
padding-top:10px;
}

.top-nav .right-top i:hover{
color: black;
}


/*bottom nav*/ 

.bottom-nav .nav-link{
    color:rgb(104, 103, 103);
    text-transform: uppercase;
    font-size: 14px;
}
.bottom-nav .nav-link:hover{
    color: purple;
}
.bottom-nav  .active{
    color:purple;
    font-weight: 600;
}

/*end of nav*/
/*title*/
.title{
    background-color:rgb(247, 244, 244) ;
    padding:20px;
    font-size: 20px;
    width:100%;
}
/*start of header*/
header{
    padding:80px 20px 80px;
}
header .header-body hr{
    border-top:4px solid purple;
    width:10%;
}
header .header-img{
    width:100%;
}
/*end of header*/

/*start of services section*/

.services h2{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.services p{
    margin-left:70px;
    margin-top:-45px;
}
.services h2{
    margin-left:70px;
    margin-top:-45px;
}
.services i{
    font-size: 45px;
    color: rgb(134, 45, 134);
}
.fa-truck{
    transform:rotateY(180deg);
}
/*end of services section */
/*start of team section*/
.team-section{
    padding: 30px 0px 50px;
}
.team-section hr{
    border-top:4px solid purple;
    width:45px;
    margin-left:48%;
}
.team-section h2{
    font-size: 30px;
}
.team-section img{
    width:150px;
}
/*end of team section*/
/*start of footer*/
footer{
    margin-top:10px;
    padding:10px;
}

footer li{
    margin-top: 20px;
}
footer h5{
    font-weight: 700;
}

footer .nav a{
    color:grey;
    font-size: 16px;
}
footer .nav a:hover{
    color:purple;
}
footer .promo img{
    width:100%;
    border-radius: 5px;
}
footer .promo a{
    color:purple;
    font-size: 20px;
}
footer .promo p{
    color:grey;
    font-size: 18px;
}
footer .contact p{
    font-size:17px;
}

.footer-copyright{
    font-size:18px;
    color:grey;
    margin-top:60px;
}
footer .contact .fa-phone{
    transform:rotateY(180deg)
}
footer i{
    color:purple;
}

footer .subscribe .em{
    padding:28px;
    font-size: 20px;
}
footer .subscribe .btn1{
    background-color:purple ;
    color:white;
    transition: all 0.5s ease;
    width:100px;
    font-size:20px;
    height:51px;
    margin-top:3px;
    border-radius: 5px;
    margin-left:-102px;
    z-index:1;
}
/*end of footer */


/*start of media screen*/ 
@media  screen and (max-width:576px) {
    .middle-top h3{
        font-size: 14px;
    }
    .top-nav i{
        font-size: 14px;
    }
    .left-top .search{
        font-size: 16px;
    }
    .bottom-nav .nav-link{
        font-size:10px;
    }

    footer .nav a{

        font-size:16px;
        }
        .team-section hr{
            
            margin-left:44%;
        }       
}

@media  screen and (min-width:577px) and (max-width:767px) {
    .middle-top h3{
        font-size: 18px;
    }
    .top-nav i{
        font-size: 13px;
    }
    .left-top .search{
        font-size: 15px;
    }
    .bottom-nav .nav-link{
        font-size:14px;
    }
    .team-section hr{
            
        margin-left:45%;
    }
}
@media  screen and (min-width:768px) and (max-width:992px) {
    .team-section hr{
            
        margin-left:47%;
    }
}

@media  screen and (min-width:992px) and (max-width:1200px) {
    .middle-top h3{
        font-size: 25px;
    }
    .top-nav i{
        font-size: 16px;
    }
    .left-top .search{
        font-size: 18px;
    }
    .bottom-nav .nav-link{
        font-size:16px;
    }
   
    footer .subscribe{
        margin-left: 65%;
        
    }
    footer .contact p{
        width:150%;
    }

    }
@media  screen and (min-width:1200px) {
    .middle-top h3{
        font-size: 25px;
    }
    .top-nav i{
        font-size: 16px;
    }
    .left-top .search{
        font-size: 18px;
    }
    .bottom-nav .nav-link{
        font-size:17px;
    }
    footer .subscribe{
        margin-left: 76%;
    }
    
}
/*end of media screen*/ 
