*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}
body{
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    height:100vh;
}
/*start of nav*/
/*Top nav*/ 

.top-nav i{
    font-size:18px;
    color:rgb(170, 169, 169);

}
.left-top{
    margin: auto;
    text-align: center;
}
.left-top .search{
    border:none;
    outline: none;
    color:rgb(170, 169, 169);
    color:black;
    padding-top:10px;
}


.middle-top{
    text-transform: uppercase;
    border:2px solid;
padding-top:10px;
}

.top-nav .right-top i:hover{
color: black;
}


/*bottom nav*/ 

.bottom-nav .nav-link{
    color:rgb(104, 103, 103);
    text-transform: uppercase;
    font-size: 14px;
}
.bottom-nav .nav-link:hover{
    color: purple;
}
.bottom-nav  .active{
    color:purple;
    font-weight: 600;
}
/*botom nav*/ 
.title{
    background-color:rgb(247, 244, 244) ;
    padding:20px;
    font-size: 20px;

}
/*start of table*/
 
  .table-image td , .table-image th {

      vertical-align: middle;
      border: 1px solid rgb(218, 216, 216);
      font-size: 16px;
      font-weight: 600;

  }
.cart-table .table-title{
    border: 1px solid;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
}
.cart-table .btn{
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 5px;
    height: 40px;

}
.quantity{
    font-size: 16px;
}
.quantity .num{
    width:40px;
    padding:6px;
}
.quantity .minus , .quantity .plus{
    padding:7px;
    width:30px;
    border:1px solid purple;
    background-color: transparent;
}
.quantity .minus{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}
.quantity .plus{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.quantity .minus:hover , .quantity .plus:hover{
    background-color: purple;
    color:white;
}




/*end of table*/
/*start of cart options*/
.cart-options .update{
    background-color: purple;
    color: white;
    letter-spacing: 1.1px;
    border-radius: 7px;
    width:90%;
    padding:12px ;
}
.cart-options .continue{
    background-color:transparent;
    color: purple;
    letter-spacing: 1.1px;
    border: 1px solid purple;
    border-radius:7px ;
    width:90%;
    padding:12px;
    margin-left: 40px;
}

.coupon  .em{
    padding:17px;
    font-size: 20px;
}
.coupon .btn1{
    background-color:purple ;
    color:white;
    transition: all 0.5s ease;
    width:35%;
    height:44px;
    border-radius: 5px;
}
.check{
    background-color: purple;
    color: white;
    letter-spacing: 1.5px;
    border-radius: 7px;
    width:100%;
    padding:12px;
    font-size: 12px;
}

/*end of cart options*/
/*start of footer*/
footer{
    margin-top:10px;
    padding:70px 50px 70px 70px; 
}

footer li{
    margin-top: 20px;
}
footer h5{
    font-weight: 700;
}

footer .nav a{
    color:grey;
    font-size: 18px;
}
footer .nav a:hover{
    color:purple;
}
footer .promo img{
    width:100%;
    border-radius: 5px;
}
footer .promo a{
    color:purple;
    font-size: 20px;
}
footer .promo p{
    color:grey;
    font-size: 18px;
}
footer .contact p{
    font-size:17px;
}

.footer-copyright{
    font-size:18px;
    color:grey;
    margin-top:60px;
}
footer .contact .fa-phone{
    transform:rotateY(180deg)
}
footer i{
    color:purple;
}

footer .subscribe .em{
    padding:28px;
    font-size: 20px;
}
footer .subscribe .btn1{
    background-color:purple ;
    color:white;
    transition: all 0.5s ease;
    width:100px;
    font-size:20px;
    height:51px;
    margin-top:3px;
    border-radius: 5px;
    margin-left:-102px;
    z-index:1;
}
/*end of footer */
@media  screen and (min-width:577px) and (max-width:767px) {
    .middle-top h3{
        font-size: 18px;
    }
    .top-nav i{
        font-size: 13px;
    }
    .left-top .search{
        font-size: 15px;
    }
    .bottom-nav .nav-link{
        font-size:14px;
    }
    .img-fluid{
        width:100%;
    }
}
@media  screen and (min-width:768px) and (max-width:992px) {
  
}

@media  screen and (min-width:992px) and (max-width:1200px) {
    .middle-top h3{
        font-size: 25px;
    }
    .top-nav i{
        font-size: 16px;
    }
    .left-top .search{
        font-size: 18px;
    }
    .bottom-nav .nav-link{
        font-size:16px;
    }
   
    footer .subscribe{
        margin-left: 65%;
        
    }
    footer .contact p{
        width:150%;
    }
    .img-fluid{
        width:60%;
    }
    
    }
@media  screen and (min-width:1200px) {
    .middle-top h3{
        font-size: 25px;
    }
    .top-nav i{
        font-size: 16px;
    }
    .left-top .search{
        font-size: 18px;
    }
    .bottom-nav .nav-link{
        font-size:17px;
    }
    footer .subscribe{
        margin-left: 76%;
    }
    .img-fluid{
        width:60%;
    }    
}
/*end of media screen*/ 
