*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}
body{
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    height:100vh;
}
/*start of nav*/
/*Top nav*/ 

.top-nav i{
    font-size:18px;
    color:rgb(170, 169, 169);

}
.left-top{
    margin: auto;
    text-align: center;
}
.left-top .search{
    border:none;
    outline: none;
    color:rgb(170, 169, 169);
    color:black;
    padding-top:10px;
}


.middle-top{
    text-transform: uppercase;
    border:2px solid;
padding-top:10px;
}

.top-nav .right-top i:hover{
color: black;
}


/*bottom nav*/ 

.bottom-nav .nav-link{
    color:rgb(104, 103, 103);
    text-transform: uppercase;
    font-size: 14px;
}
.bottom-nav .nav-link:hover{
    color: purple;
}
.bottom-nav  .active{
    color:purple;
    font-weight: 600;
}

/*title*/
.title{
    background-color:rgb(247, 244, 244) ;
    padding:20px;
    font-size: 20px;

}
/*title*/
/*main section*/
.main{
    padding:40px;
    padding-bottom: 90px;


}
/*filters*/
.main .filter-categoreis , .main .other-filters{
    border:1px solid rgb(197, 195, 195);
    border-radius: 5px;
    padding:20px 35px 40px 20px;
}
.main h6{
    font-weight: 700;
}
.main  .filter-categoreis .type{
    color:purple;
    font-size:16px;
    font-weight: 500;
}
.main .other-filters .filter{
    font-weight: 500;
}
.main .other-filters{
max-height: 620px;
}
.main .filter-categoreis{
    height: 200px;
}


.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark1 , .checkmark2,.checkmark3,.checkmark4{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  .checkmark1{
      background-color: red;
  }
  
  .checkmark2{
    background-color: green;
}
.checkmark3{
    background-color: blue;
}
.checkmark4{
    background-color: purple;
}

  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  /*filters*/

  /*head*/
.main-head{
padding-left: 30px;
}
.main-head .head-menus .dropdown .btn{
    background-color: rgb(235, 230, 230);
    height:50px;
    width:103%;
    padding:18px ;
    font-weight: 600;
    transition: all 0.5s ease;
    
}
.main-head .head-menus .dropdown .btn:hover{
    background-color: rgb(87, 87, 87);
    transform:scale(1.1);
    color:white;
}
/*head*/
/*products*/


.products .title hr{
    border-top:4px solid purple;
    width:8%;
    margin-left: 46%;
}
.products .card{
    width:100%;
    margin-top:30px;
    border: none;
}
.products .card img{
    height: 200px;
}
.products .card .card-title ,.products .card .card-price{
    color:purple;
    font-weight: 700;
}

/*products*/

/*end of main*/
/*start of categories section*/
.categ{
    margin-top:60px;
    padding-bottom: 50px;
}

.view-img{

    position: relative;
    width:100%;
    transition: transform 0.5s ease;
   cursor: pointer;
    
  }
  .mask p{
    font-weight: 600;
    position: absolute;
    top:81%;
    left:7%;
    font-size:9px;
    text-transform: uppercase;
    
  }
  .mask h4{
    
    position: absolute;
    top:86%;
    left:7%;
    font-size: 25px;
  }
  .cat{
    overflow: hidden;
    cursor: pointer;
  }
  .cat:hover .view-img{
    transform:scale(1.12)
  }
  .cat::after {
    content:'';
    position: absolute;
    bottom: 0;
    left:4%;
    width: 92%;
    height: 60%;
    opacity: 0.8;  
    background: linear-gradient(to top ,#000 20%, transparent );
  }
  
.categ .title2 hr{
    border-top:4px solid purple;
    width:8%;
    margin-left: 46%;
}
/*end of categories section*/

/*start of footer*/
footer{
    margin-top:10px;
    padding:70px 50px 70px 70px; 
}

footer li{
    margin-top: 20px;
}
footer h5{
    font-weight: 700;
}

footer .nav a{
    color:grey;
    font-size: 18px;
}
footer .nav a:hover{
    color:purple;
}
footer .promo img{
    width:100%;
    border-radius: 5px;
}
footer .promo a{
    color:purple;
    font-size: 20px;
}
footer .promo p{
    color:grey;
    font-size: 18px;
}
footer .contact p{
    font-size:17px;
}

.footer-copyright{
    font-size:18px;
    color:grey;
    margin-top:60px;
}
footer .contact .fa-phone{
    transform:rotateY(180deg)
}
footer i{
    color:purple;
}

footer .subscribe .em{
    padding:28px;
    font-size: 20px;
}
footer .subscribe .btn1{
    background-color:purple ;
    color:white;
    transition: all 0.5s ease;
    width:100px;
    font-size:20px;
    height:51px;
    margin-top:3px;
    border-radius: 5px;
    margin-left:-102px;
    z-index:1;
}
/*end of footer */
 
@media  screen and (max-width:576px) {
    .middle-top h3{
        font-size: 14px;
    }
    .top-nav i{
        font-size: 14px;
    }
    .left-top .search{
        font-size: 18px;
    }
    .bottom-nav .nav-link{
        font-size:10px;
    }
    .head-title{
        margin-left:-28px;
    }
    footer .nav a{

        font-size:16px;
        }
    .main .products .card{
            width: 100%;
            margin-top:30px;
            border: none;
        } 
    .main  .products .card img{
            height: 200px;
            width:100%;
        }
        
}



@media  screen and (min-width:577px) and (max-width:767px) {
    .middle-top h3{
        font-size: 18px;
    }
    .top-nav i{
        font-size: 13px;
    }
    .left-top .search{
        font-size: 15px;
    }
    .bottom-nav .nav-link{
        font-size:14px;
    }
    .main .products .card{
        width: 100%;
        margin-top:30px;
        border: none;
    } 
.main  .products .card img{
        height: 200px;
        width:100%;
    }
}
@media  screen and (min-width:768px) and (max-width:992px) {

    .main .products .card{
        width: 90%;
        margin-top:30px;
        border: none;
    } 
.main  .products .card img{
        height: 200px;
        width:100%;
    }
}

@media  screen and (min-width:992px) and (max-width:1200px) {
    .middle-top h3{
        font-size: 25px;
    }
    .top-nav i{
        font-size: 16px;
    }
    .left-top .search{
        font-size: 18px;
    }
    .bottom-nav .nav-link{
        font-size:16px;
    }
   
    footer .subscribe{
        margin-left: 65%;
        
    }
    footer .contact p{
        width:150%;
    }
    .main .products .card{
        width: 100%;
        height:280px;
        margin-top:30px;
        border: none;
    } 
.main  .products .card img{
        height: 150px;
        width:100%;
    }

    }
@media  screen and (min-width:1200px) and (max-width:1380px){
    .middle-top h3{
        font-size: 25px;
    }
    .top-nav i{
        font-size: 16px;
    }
    .left-top .search{
        font-size: 18px;
    }
    .bottom-nav .nav-link{
        font-size:17px;
    }
    footer .subscribe{
        margin-left: 76%;
    }
    .main .products{
        margin-top: -80px;
    }
    .main .products .card{
        width: 80%;
        height:330px;
        margin-top:30px;
        border: none;
    } 
.main  .products .card img{
        height: 200px;
        width:100%;
    }
    
}
@media  screen and (min-width:1380px){
    .middle-top h3{
        font-size: 25px;
    }
    .top-nav i{
        font-size: 16px;
    }
    .left-top .search{
        font-size: 18px;
    }
    .bottom-nav .nav-link{
        font-size:17px;
    }
    footer .subscribe{
        margin-left: 76%;
    }
    .main .products{
        margin-top: -80px;
    }
    .main .products .card{
        width: 72%;
        height:330px;
        margin-top:30px;
        border: none;
    } 
.main  .products .card img{
        height: 200px;
        width:100%;
    }
    
}
/*end of media screen*/ 




